@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Outfit:wght@100..900&family=Stack+Sans+Headline:wght@200..700&display=swap');

@theme {
  /* Custom Colors */
  --color-ss-dark-blue: #0C1B33;
  --color-ss-black: #030A11;
  --color-ss-dark-gray: #303436;
  --color-ss-light-gray: #E5E7EB;
  --color-ss-pale-blue: #E5FCFF;
  --color-ss-white: #FCFFFF;

  /* Custom Fonts */
  --font-family-stack-sans-headline: 'Stack Sans Headline', system-ui, sans-serif;
  --font-family-bricolage-grotesque: 'Bricolage Grotesque', system-ui, sans-serif;
  --font-family-outfit: 'Outfit', system-ui, sans-serif;
}

:root {
  font-family: 'Outfit', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light; /* dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, button {
  font-family: "Bricolage Grotesque", system-ui, sans-serif;
}

p, a, span, li, label {
  font-family: 'Outfit', system-ui, sans-serif;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: inherit;
}

a:hover {
  color: #666;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Hide scrollbar while keeping scroll functionality */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
